player-connection-mode=Listen
player-connection-guid=1022029316
player-connection-debug=0
player-connection-project-name=Videojuegos3dActividad01
player-connection-ip=192.168.1.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6c38925074e0460ab0f6082e0d4f6a9f
